<div class="container">
  <h1 class="title">
    {{ 'PAGES.HOME.TITLE' | translate }}
  </h1>
</div>
<div class="hottable-container" id="excel">
  <hotTable [data]="dataObj" 
            [columns]="columns" 
            [colHeaders]="colHeaders" 
            [options]="options"
           >
  </hotTable>
</div>
<div class="button-container">
  <button type="button" (click)="downloadPDF()">Download PDF</button>
  <button type="button" (click)="exportToCSV()">Export to CSV</button>
  <button type="button" (click)="exportToExcel()">Export to Excel</button>
  <div>
    <input type='file' accept='text/json' multiple (change)='openFile($event)'>
  </div>
  <button type="button" (click)="saveFile()">Save File</button>
  
</div>
